.Board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.Container {
  position: relative;
  resize: both;
  overflow: auto;
  min-height: 300px;
  min-width: 300px;
}