body {
    margin: 0;
    font-family: Trebuchess, Trebuchet MS, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: Montserrat, arial, helvetica, serif;
    color: #366BAC;
}

img {
    display: block;
}


button {
    cursor: pointer;
    background-color: #e8ebef;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #f7f8f9;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
